# streams-specific excludes
toolkit.xml
impl/nl/include/*.h
*.pm
# If you want to include a perl module, do
# !foo.pm

samples/*/output
samples/*/toolkit.xml

## java excludes
*.class

# exclude generated Java primitive operator model files
*$StreamsModel.java

# Package Files #
com.ibm.streamsx.inet/lib/*.jar
com.ibm.streamsx.inet/impl/lib/*.jar
*.war
*.ear

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

