# streams-specific excludes
toolkit.xml
*.pm
# If you want to include a perl module, do
# !foo.pm

/com.ibm.streamsx.inet/doc/
/com.ibm.streamsx.inet/impl/nl/*.dat
/com.ibm.streamsx.inet/impl/nl/include

# generated operator models
/com.ibm.streamsx.inet/com.ibm.streamsx.inet.wsserver/WebSocketInject/WebSocketInject.xml
/com.ibm.streamsx.inet/com.ibm.streamsx.inet.wsserver/WebSocketSend/WebSocketSend.xm

samples/*/output
samples/*/toolkit.xml
/samples/*/doc

## java excludes
*.class

# exclude generated Java primitive operator model files
*$StreamsModel.java

# Package Files #
com.ibm.streamsx.inet/lib/*.jar
com.ibm.streamsx.inet/impl/lib
*.war
*.ear

## C++ excludes
# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# temporary directories
tmp
/.project
