# This .gitignore file is needed because Eclipse projects with a 'Java' nature
# (see the .project file) require an impl/java/src directory (see the .classpath
# file), but 'git' does not store empty directories in repositories.
