<div>
    <h1>Pitiful password dude.</h1>
    <p>Here we are in the the Handlebar file</p>
    <h2>Yo! {{name}} ! </h2>
    <p>What is with the password, you can do better than that. </p>

    <table border="2">
        <tr><th>NAME</th><th>PROFESSION</th></tr>
        <tr><td>{{name}}</td><td>{{profession}}</td></tr>
    </table>
        I am a {{occupation}}.
</div>